/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1fec1;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f1fec1;
}
h1 {
    text-align: center;
    color: #000000;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
}
h2 {
    text-align: center;
    font-size: 1.5rem;
}
p {
    text-align: center;
    color: #000000;
    font-weight: bold;
}
.letter-title-style {
    font-family: "Love Ya Like A Sister", cursive;
    font-style: normal;
  }
 

/* Botón de Google Maps */
.map-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #349568;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.map-button:hover {
    background-color: #27714e;
    scale: 1.05;
}
/* Estilos para la sección de Confirmación de Asistencia */
.confirmation {
    margin-top: 30px;
}
.form-link {
    display: block;
    text-align: center;
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
}
/* Estilos para la sección de Información del Regalo */
.gift-info {
    margin-top: 30px;
}

#confirmar {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #349568;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
#confirmar:hover {
    background-color: #27714e;
    scale: 1.05;
}

.responsive-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}
